body{
    margin: 0;
    font-family: arial, sans-serif;
}
 .menu-topo{
    background-color: #333;
    overflow: hidden;
 }
 .menu-topo a {
    float: left;
    display: block;
    color: rgb(241, 231, 231);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
 .menu-topo a:hover {
background-color: gray;
color: black;
 }
